<app-nav-bar [userDetails]="userDetails"></app-nav-bar>
<div class="grid grid-cols-1 px-4 gap-4 lg:grid-cols-4 lg:gap-8">
    <div class="">
        <app-show-profile [userDetails]="userDetails"></app-show-profile>
    </div>
    <div class="lg:col-span-2 gap-4 flex flex-col">
        <app-create-post *ngIf="checkRoleAdminTeacher()"  [userDetails]="userDetails"></app-create-post>
        <app-show-post #childShowPost ></app-show-post>
    </div>
    <div class="gap-3 flex flex-col">
        <app-show-latest-messages [userDetails]="userDetails"></app-show-latest-messages>
        <app-show-followers ></app-show-followers>
    </div>
</div>
