<app-nav-bar></app-nav-bar>
<div class="grid grid-cols-1 px-4 gap-4 lg:grid-cols-4 lg:gap-8">
    <div class="">
        <app-show-profile></app-show-profile>
    </div>
    <div class="lg:col-span-2 gap-4 flex flex-col">
        <app-create-post></app-create-post>
        <app-show-post></app-show-post>
    </div>
    <div class="w-full h-fit max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <app-show-followers></app-show-followers>
    </div>
</div>
